# The host for the server
SERVER_HOST=

# The port for the server, should be port 5000 for proxy
# defined in frontend/package.json to work
SERVER_PORT=

# The database login
DB_USER=

# The database password
DB_PASS=

# The datbase name
DB_NAME=

# The database host
DB_HOST=

# The database server that is used. Must be one of 'mysql', 'mariadb', 
# 'postgres' or 'mssql', since no other are supported by Sequelize.
DB_DIALECT=

# The salt round used for bcrypt
# The value for salt rounds should not be less than 12 for production
# ready code.
SALT_ROUNDS=